.line{
            background-color: beige;
        }
        #new{
            font-family: cursive;
        }
        h1{
            font-family: cursive;
        }
        .parent p{
            color:crimson;
        }
        p:hover{
            color:cyan
        }
        .border{
            border: 2px solid black;
            padding: 40px;
            border-radius: 20px;
            border-style: dotted;
        }
        .margin{
            border: 3px solid black
            padding  20px;
        }
        .margin2{
            border:3px solid black;
            margin-top: 50px;
        }
        .position{
            border:2px solid violet;
        }
        .relative{
            position: relative;
            top: 70px;
            left: 60px;
        }
        .page{
            height:100vh ;
        
        }
        .fixed{
            position:fixed;
            left:80px;
        }
        .sticky{
            position: sticky;
            top: 0;
            font-size: xx-large;
        }
        .inline{
            display:inline;
        }
        .flex-container{
            display: flex;
            /* flex-direction: row-reverse; */
            justify-content: space-evenly;
            align-items: center;
            background-color:peachpuff;
            height: 100vh;

        }
        .flex-container div{
            background-color:goldenrod ;
            border: 2px solid brown;
            height: 100px;
            width: 100px;
        }
        .item2{
            /* flex-grow: 2; */
            flex-shrink: 0;

        }

        .Navbar{
            display: flex;
            justify-content: space-between;
            padding-left: 20px;
            padding-right: 20px;
            color: black;
            background-color: aqua;
            border-radius: 50px;
            font-size: 30px;
            font-family: Arial, Helvetica, sans-serif;
        }

        .container{
            display: flex;
            gap: 30px;
        }

        .grid-container{
            display: grid;
            grid-template-rows: 100px 100px 100px;
            grid-template-columns: 100px 100px 100px 100px;
        }

        .grid-container div{
            background-color:skyblue;
            border:2px solid hotpink
        }

        .item1{
            grid-column-start: 1;
            grid-column-end: 5;

        }
        .item2{
            grid-column-start: 1;
            grid-column-end: 3;
        }
        .item3{
            grid-column-start: 4;
            
        }
        .item4{
            grid-column-start: 1;
            grid-column-end: 5;
        }
       @media(max-width: 720px){
        .navbar{
            display:flex;
            flex-direction: column;
        }
        .container{
            display:flex;
            flex-direction: column;
        }

       }

        